
body{
    background: #F0FFFF;
}


/*Partie MenuBar*/
ul {
    background-color: #555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
/*Partie Recherche et notification*/

form {
    padding: 3px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: #008B8B ;
    border-radius: 20px;
}
form button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #555;
    width: 5%;
    font-size: 15px;
    border-radius: 20px;
}
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    position:absolute;
    bottom:5px;
    right:5px;
    display: inline-block;

    border-radius: 2px;
}
.notification:hover {
    background: red;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
form  a button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #555;
    width: 100%;
    font-size: 15px;
    border-radius: 20px;
}