 <!DOCTYPE html>

 <head>
    <link rel="stylesheet" href="../Styles/liste.css" media="screen" type="text/css" />
     <meta charset="UTF-8">

 </head>
<html>
    <body>
        
       <table border=2 id="TableA">
            <tbody>
                <tr>
                    <td>Item</td>
                    <td>Responsable</td>
                    <td>Complété</td>
                    <td>Editer</td>
                    <td >Suppression</td>
                </tr>
            </tbody>
        </table>
        
        <button class="favorite styled" type="button" onclick="ajouteLigne('TableA')">Ajouter une tâche</button>

        <div class="bg-modal">
            <div class="modal-content">
                <div class="close">+</div>
                <form action="">
                    <input type="text" placeholder="Nouveau nom de l'item">
                    <a href="" type="button">Modifier</a>
                </form>
            </div>
        </div>

    </body>
    
    <script type="text/javascript">

        function ajouteLigne(tableID) {

        /*On récupère le nom de la tache avec une boite de dialogue*/
        var nomTache = prompt("Nom de tâche : ");
        /*Cas d'annulation : on sort de la fonction*/
        if(nomTache == null || nomTache == ""){return 0;}

        /*Récupération d'une référence à la table*/
        var refTable = document.getElementById(tableID);

        /*Insère une ligne dans la table à l'indice de ligne 0*/
        var nouvelleLigne = refTable.insertRow(1);
        /*Insère une cellule dans la ligne à l'indice 0*/
        var nouvelleCellule = nouvelleLigne.insertCell(0);
        /*Ajoute le nom de la tache*/
        var nomNouvelleTache = document.createTextNode(nomTache)
        nouvelleCellule.appendChild(nomNouvelleTache);
        
        /*Insère une cellule dans la ligne à l'indice 2*/
        var nouvelleCellule = nouvelleLigne.insertCell(1);
        /* Ajoute le nom de lu responsable*/
        /*Créer le bouton éditer*/
        var nomResponsable = document.createElement('button');
        nomResponsable.innerHTML = 'Je suis volontaire';
        nomResponsable.onclick = attribuerResponsable;
        nouvelleCellule.appendChild(nomResponsable);
        
        /*Insère une cellule dans la ligne à l'indice 2*/
        var nouvelleCellule = nouvelleLigne.insertCell(2);
        
        /*Créer la check box*/
        var checkbox = document.createElement('input'); 
            
        // Assigning the attributes 
        checkbox.type = "checkbox"; 
        checkbox.name = "name"; 
        checkbox.value = "value"; 
        checkbox.id = "id"; 
        /*Ajoute la checkbox*/
        nouvelleCellule.appendChild(checkbox);
        
        
        /*Insère une cellule dans la ligne à l'indice 3*/
        var editer = nouvelleLigne.insertCell(3);
        editer.innerHTML = '<img src="../images/edit.png"  style="width:20px;height:20px;" />';
        editer.onclick = editerTache;

        /*Insère une cellule dans la ligne à l'indice 4*/
        var suppression = nouvelleLigne.insertCell(4);
        suppression.innerHTML = '<img src="../images/delete.png"  style="width:20px;height:20px;"  />';
        suppression.onclick = supprimerTache;


        }

        function supprimerTache() {
            // event.target will be the input element.
            var td = event.target.parentNode;
            var tmp = document.createElement("td")
            console.log(Object.is(td,tmp));
            var tr = td.parentNode; // the row to be removed
            tr.parentNode.removeChild(tr);
        }


        /*Faire apparaitre le formule pour editer la tâche/item */
        function editerTache() {
            document.querySelector('.bg-modal').style.display = 'flex';
        }

        function attribuerResponsable(){
            var button = event.target;
            var td = button.parentNode;
            td.innerHTML = "Christophe";
        }




    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        /*Permet de d'alterner les couleurs du tableau*/
        $(document).ready(function()
        {
            $("tr:odd").css({
                "background-color":"#BFBFBF" });
        });

    </script>
    
</html> 
